@charset "utf-8";

body {
    font-family: arial;
}

#curriculum {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 66%;
}

#curriculum article {
    width: 48%;
    display: inline-block;
    margin-bottom: 25px;
}

#curriculum article > * {
    margin-left: 40px;
    margin-right:  40px;
}

#curriculum article img {
    width: 100%;
}

#curriculum article figcaption {
    margin-top: 15px;
}

#curriculum article figcaption figure {
    margin-top: 10px;
}

.titulo {
    color: #415C71;
    font-size: 1.4em;
    font-weight: bold;
}


#biografia {
    position: fixed;
    background: #50AAAA;
    width: 33vw;
    height: 100vh;
    top: 0;
}

#biografia footer {
    position: absolute;
    bottom: 0px;
    padding: 10px 25px;
}

#biografia header {
    position: absolute;
    top: 0px;
    padding: 30px 25px;
}

#biografia header .foto{
    overflow: hidden;
    display: inline-block;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin: auto;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 15px;
}

#biografia header .foto img{
    width:  100%;
    height: 100%;
}

#biografia header .nombre {
    display: inline-block;
    margin: auto;
    font-size: 25px;
    color: white;
}

.descripcion {
    margin-top: 20px;
}

.etiquetas ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.etiqueta {
    background: #2D5478;
    color: white;
    display: inline-block;
    padding: 5px;
    border: 1px solid black;
    margin-bottom: 2px;
}
